/* General */
body, html {
	height: 100%;
	background: url(./img/homeBackground.jpeg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

#body {
	background-color: #212121;
/*	color: #bcbcbc;
*/}

/* Navbar */
.nav-tabs {
	color: #00e871;
	text-decoration: none;
}

/* Home */
#home {
	text-align: center;
}

/* Signup/Login Modals */
.modal-fields {
	text-align: center;
	/*vertical-align: top;*/
}

/* Log */
#log {
	background-color: #bcbcbc;
	border-radius: 0.5em;
	color: #212121;
	margin-right: auto;
	margin-left: auto;
}

#log .form-control {

}

/* History */


/* Profile */


/* Footer */




